@media screen and (min-width: 1160px) {
    .container {
        max-width: 1160px;  
       
}
/*--------------------------HEADER-----------------------*/
.header-logo {
    margin-right: 76px;
    }
.header{
    padding-bottom: 28px; }
    .header-navigation {
        margin-right: auto;
    }
    .header-link.current::after {
    bottom: -32px;
    }
    .contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}
    .header-cont{
        display: flex;
        gap: 40px;
    }


    /*--------------------------HERO-----------------------*/
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;}
    

.main-title {
margin-bottom: 48px;
}
/*----------------------SOLUTIONS----------------------*/
.menu-solutions {
    display: flex;
    flex-wrap: wrap;
   gap: 24px;
   align-items: center;    
}
.solutions > .container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
}
.menu-item{
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;  
    
}  
.menu-name{
    justify-content: left;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
}
.menu-text {
    font-weight: 400;}
.menu-item-icon {
    display: flex;
    border-radius: 4px;
        background-color: var(--footer-logo-color);
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
}
.menu-icon{
    fill: var(--dark-color);
}
   /*-------------------------IMAGES------------------------*/
   .images-menu {
    display: flex;
  
    gap: 24px;
    flex-basis: calc((100%-48px)/3);
}
.images {
    padding-bottom: 120px;
    display: flex;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
    text-align: center;
    }

/*----------------------TEAM-----------------------*/
.team{
    padding-bottom: 120px;
    padding-top: 120px;}
   
    .team> .container
{
    padding-left: 15px;
    padding-right: 15px;
}
.team-photo {
    gap: 24px;
    }

/*------------------customers---------------------*/

    .customers-item {
        
    flex-basis: calc((100% - 120px) / 6);
        }
        .customers> .container{
           padding-left: 15px;
           padding-right: 15px;
           width: 1158px;
        }
        .customers-list{
            gap: 24px;
        }
    /*------------------FOOTER--------------------*/    
   
    .footer-container{
        display: flex;
        flex-wrap: nowrap;
        padding-left: 15px;
    }
    
    .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* CORNFLOWER */
    color: var(--accent-color);
    margin-top: 16px;
    max-width: 264px;
    margin-right: 0;
    margin-bottom: 0;

    }
    .footer {
    
        padding-top: 100px;
        padding-bottom: 100px;
        
    }
   
    .footer-field{
        margin-left: 120px;
        margin-right: 80px;
    }
    .footer-input {
        width: 264px;
        height: 40px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 12px;
    display: flex;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
   
    .footer-form{
        display: flex;
        gap: 24px;
       
    }
    .footer-title-sub{
        font-weight: 500;
        display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    }
    .modal{
        top: 80px;
    }
    .mobile-menu {display: none;}

   
  
    .photos-list {
        flex-basis: calc((100%-192px)/9);
       
    
       column-gap: 24px;}
       .filters {
        padding-top: 96px;
        padding-bottom: 120px;
        
    }
    .filters-list{
        
       flex-basis: calc((100% - 96px)/5);
        justify-content: center;
        margin-bottom: 72px;}
       