:root {
    --dark-color:#2E2F42;
    --text-color: #434455;
    --pressed-state-color: #404BBF;
    --btn-color: #FFFFFF;
    --links-color: #4D5AE5;
    --accent-color:#E7E9FC;
    --footer-logo-color: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
   color: var(--text-color);

}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0; 
    margin-bottom: 0;
     }
ol, ul{
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
   

}
.container {
   /* width: 1158px;*/
    /*padding-left: 15px; */padding-left: 16px;
    /*padding-right: 15px;*/padding-right: 16px;
   margin: 0 auto;



}
.section {
    /*padding-bottom: 120px;*/ padding-bottom: 96px;
   /* padding-top: 120px;*/ padding-top: 96px;
}
.no-scroll{
    overflow: hidden;
}
/*------------HEADER----------------*/
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--accent-color);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
margin-right: 76px;
color: var(--links-color);
}

.header-logo-studio {
/* NAVY BLUE */
color: var(--dark-color);

}
/*---------------------MOBILE-BTN--------------*/
.mobile-btn {
  background-color: transparent;
  border: none;
padding: 0;
width: 32px;
height: 22px;
cursor: pointer;
}
.mobile-btn-icon {
stroke: #2E2F42;

}
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    left: 0;
    top: 0;
    max-height: 796px;
}
.mobile-menu > .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu_close-btn{
    position: absolute;
    top:40px;
    right: 40px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 24px;
height: 24px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.mobile-menu_close-btn:hover,
.mobile-menu_close-btn:active{
background-color: #404BBF;
fill: #FFFFFF;
}

.mobile-menu-container{
position: relative;
padding: 80px 40px 40px 40px;
}

.mobile-menu-list-item {
    margin-bottom: 40px;
}
.mobile-menu-list-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
   /* navy blue */
   color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:active {
    color: #404BBF;
    background-color:var(--btn-color);
}

.mobile-menu-cont-tel{
font-weight: 600;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: #4D5AE5;}

.mobile-menu-cont-email{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
   
}
.mobile-menu-cont-item:not(:last-child){
margin-bottom: 40px;
}
.mobile-menu-cont{
    margin-bottom: 48px; 
}

.mobile-soc-list {
    display: flex;
    justify-content: space-between;
    
}

.mobile-soc-item {
    width: 40px;
    height: 40px;
}
.mobile-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-icon {
    fill: #FFFFFF;
}
.mobile-soc-link:hover,
.mobile-soc-link:active{
    background-color: #404BBF;
}
.mobile-menu-list .mobile-menu-list-link .current {
    color: var(--pressed-state-color);
}
/*-----------------nav-------------------------*/


.header-cont{
    display: flex;
    gap: 40px;
}
.header-navigation {
    margin-right: auto;
    align-items: center;
    display: flex;
}

.header-list {
    display:flex;
    gap: 40px;  }

.header-link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
   color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
    content: "";
position: absolute;
width: 100%;
height: 4px;
background: #404BBF;
border-radius: 2px;
left: 0;
bottom: -28px;

}
.header-link:hover,
.header-link:focus {
    color: var(--pressed-state-color);
    background-color:var(--btn-color);
}
.header-list .header-link.current {
    color: var(--pressed-state-color);
}

/*-------------/nav----------------*/


/*--------------contacts--------------*/
.contacts {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.contacts:hover,
.contacts:focus {
    color: var(--pressed-state-color);
   background-color: var(--btn-color);
}
/*----------------/contacts-------------------*/
/*--------------------/HEADER-----------*/
/*---------------HERO-------------------*/
.hero{
    padding-top: 112px;/*188px*/
    padding-bottom: 112px; /*188px*/
    background-color: var(--dark-color);
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), url(../images/hw7/mobile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  max-width: 1440px;
    margin: auto;
}

@media (min-device-pixel-ratio: 2) and (max-width:428px),
  (min-resolution: 192dpi) and (max-width:428px),
  (min-resolution: 2dppx) and (max-width:428px){
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), url(../images/hw7/mobile-bg-2x.jpg);
  }
}
.main-title {
max-width: 320px; /*496px;*/
text-align: center;
font-weight: 700;
font-size: 36px; /*56px*/
line-height: 1.11; /*1.07*/
letter-spacing: 0.02em;
color: var(--btn-color);
margin: 0 auto;
/*margin-left: auto;
margin-right: auto;*/
margin-bottom: 72px; /*48px;*/

}
.modal-btn {
    
  min-width: 169px;
  height: 56px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-color);    
    background-color: var(--links-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus
 { 
background-color: var(--pressed-state-color);

}
/*-----------------/Hero----------------*/
/*----------------- Section-SOLUTIONS---------*/
.menu-solutions {
    display: flex;
    flex-wrap: wrap;
   gap: 72px;
    column-gap: 24px;
    align-items: center;   
}

/*.menu-item {
    /*flex-basis: calc((100% - 72px)/4);
    max-width: 264px;
}  */

.menu-name{
    display: flex;
   justify-content: center;
    font-weight: 700;
    font-size: /*20px*/36px;
    line-height: /*1.2*/ 1.11;
    letter-spacing: 0.02em; 
    /* NAVY BLUE */
    color: var(--dark-color);
    margin-bottom: 8px;
}
.menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);    
}
.menu-item-icon{ display: none;}
/*.menu-item-icon {
    display: flex;
    border-radius: 4px;
        background-color: var(--footer-logo-color);
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
}
.menu-icon{
    fill: var(--dark-color);
 
}*/
   
    
/*-----------------/section-SOLUTIONS---------*/
/*------------------sec-IMAGES---------------------*/
/*.images-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100%-48px)/3);
}
.images {
    padding-bottom: 120px;
   
}*/
.images {display: none;}
/*.title {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-color);
margin-bottom: 72px;
text-align: center;
}*/
/*------------------TEAM--------------------*/


.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 
 background: var(--btn-color);
 
}

.team-name {
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--dark-color);
  
    margin-bottom: 8px;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);
    margin-bottom: 8px;
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team {
    background-color:#F4F4FD;
    padding-top: 96px;
    padding-bottom: 128px;
}
.team-photo {
    display: flex;
    flex-wrap: wrap;
gap: 72px;
   text-align: center;
flex-basis: calc((100%-72px)/4);
width: 100%;
   justify-content: center;
}

.team-item-container {
padding: 32px 16px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    
}

.team-soc-item {
    width: 40px;
    height: 40px;
    
}

.team-soc-link{
    
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: var(--links-color);
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
    fill:var(--footer-logo-color);
}
.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--pressed-state-color);
}

/*------------------/sec-TEAM--------------------*/


/*------------------customers---------------------*/
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.customers-item {
    max-width: 190px;
    height: 88px;
    width: calc((100% - 16px) / 2);
   
}
.title{
    font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.customers-link {
    width: 100%;
    height: 100%; 
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
align-items: center;
    justify-content: center;
    background-color: var(--btn-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    ;
}
.customers-list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
 column-gap: 16px ;
 row-gap: 72px;
 
}
.customers-icon{
    
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,

.customers-link:focus {
    border: 1px solid var(--pressed-state-color);
   
}
.customers-link:hover .customers-icon,

.customers-link:focus .customers-icon{
fill: var(--pressed-state-color);}



/*------------------FOOTER--------------------*/
.footer-link {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
/* IRIS */
color: var(--links-color);
display: flex;
justify-content: center;
margin-bottom: 16px;
}
.footer-studio {
    /* CLOUD */
    color:var(--footer-logo-color); 
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
/* CORNFLOWER */
color: var(--accent-color);
min-width: 268px;
padding-left: 64px;
padding-right: 64px;
}
.footer {
    background-color: var(--dark-color);
    padding-top: /*100px;*/96px;
    padding-bottom: /*100px;*/96px;
    
}

.footer-title{
    display: flex;
    justify-content: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin-bottom:16px ;
color: var(--btn-color);
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    min-width: 40px;
    height: 40px;
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: var(--footer-logo-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31D0AA;
}
.footer-field{
   /* margin-left: 120px;
    margin-right: 80px;*/
    margin-top: 72px;
    margin-bottom: 72px;
    padding-left: 94px;
    padding-right: 94px;
}
.footer-input {
    width: 396px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
outline: none;
padding-left: 16px;
color: #FFFFFF;
font-size: 12px;
display: flex;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 16px;
}
.footer-input:hover,
.footer-input:focus{
    border-color: 1px solid rgba(33, 150, 243, 0);
    outline: none;
}
.footer-input::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}
.footer-submit {
    min-width: 165px;
    height: 40px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
      color: var(--btn-color);    
      background-color: var(--links-color);
      border-radius: 4px;
      border: none;
      display: flex;
align-items: center;
justify-content: center;
gap: 16px;
padding: 8px 24px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    }
  .footer-submit:hover,
  .footer-submit:focus
   {
  background-color: var(--pressed-state-color);
}

.footer-form{
    display: flex;
    flex-wrap: wrap;
   
   justify-content: center;
}
.footer-title-sub{
    font-weight: 500;
    display: flex;
    justify-content: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

}
/*------------------/FOOTER--------------------*/


/*---------------PORTFOLIO-----------------*/
.visually-hidden {
    border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}
.filters {
    padding-top: /*96px;*/ 48px;
    padding-bottom: /*120px;*/ 48px;
    
}
.filters-list{
    display: flex;
   /* flex-basis: calc((100% - 96px)/5);
    justify-content: center;*/
    gap:24px;
    row-gap: 16px;
    margin:0 auto;
    margin-bottom: /*72px;*/48px;
    flex-wrap: wrap;
}

.filters-btn {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display:flex;
align-items: /*flex-start;*/ center;
text-align: center;
letter-spacing: 0.04em;
/* IRIS */
color: var(--links-color);
background: var(--footer-logo-color);
cursor: pointer;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 12px 24px;
border: 1px solid var(--accent-color);
max-height: 40px;

}
.filters-btn:hover,
.filters-btn:focus {
    color: var(--btn-color);
   background-color: var(--pressed-state-color);
   border: 1px solid var(--pressed-state-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
   0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.photos-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */ 
    color: var(--dark-color); 
    margin-bottom: 8px;
    
}
.photos-subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--text-color);
}

 .photos-list {
 /*flex-basis: calc((100%-192px)/9);*/
 display: flex;   
 flex-wrap: wrap;
row-gap: 48px;
/*column-gap: 24px;*/
justify-content: center;
}

.photos-link{
   display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--btn-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.photos-link:hover,
.photos-link:focus{  
   
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.photos-text {
    border: 1px solid var(--accent-color);
   border-top: 0;
padding-top: 32px;
padding-left: 16px;
padding-bottom: 32px;
}
.photos-top-text {
position: absolute;
top: 0;
font-weight: 400;
font-size: 16px;
line-height:1.5;
/* or 150% */
letter-spacing: 0.02em;
/* CLOUD */
color: var(--footer-logo-color);
background-color: var(--links-color);
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: auto;
}
.photos-top-wrap{
    position: relative;
    overflow: hidden;
}


.photos-link:hover .photos-top-text,
.photos-link:focus .photos-top-text
{
transform: translateY(0);
}


/*----------/PORTFOLIO---------------------*/
/*-------------MODAL--------------------*/
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.modal{
    position: absolute;
top: 96px;
left: 50%;
width: 320px;
min-height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50% ) scaleX(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;

}
.modal-close{
   position: absolute;
   top: 24px;
   right: 24px;
   justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
 display: flex;
 align-items: center;
     margin-left: auto;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
     
}
.modal-close:hover,
.modal-close:active{
    background-color: #404BBF;
    fill: #FFFFFF;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%) scaleX(0);

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-title{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 14px;
}
.modal-input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
padding-left: 38px;
color: #000000;
font-size: 16px;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap{
    position: relative;
    
    margin-bottom: 8px;
}
.input-icon{
   position: absolute; 
   left: 16px;
   transform: translateY(-50%);
   top: 50%;
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .input-icon{
    fill: #4D5AE5;
}
.modal-input::placeholder{
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
}
.input-text{
   display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.modal-comment{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
background-color: transparent;

padding: 8px 16px;
resize: none;
}
.modal-comment::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: rgba(117, 117, 117, 0.5);

}
.check-text span{
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
border-radius: 2px;
display: flex;
margin-right: 8px;
align-items: center;
justify-content: center;
fill: transparent;

}
.modal-check:checked + .check-text span{
    background-color: #404BBF;
/* OCEAN */
border: none;
fill: #F4F4FD;

}
.check-text{
    font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
display: flex;
margin-top: 16px;
    margin-bottom: 24px;
}
.modal-form-submit{
    min-width: 169px;
  height: 56px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-color);    
    background-color: var(--links-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

align-self: center;

}
.modal-form-submit:hover,
.modal-form-submit:hover{
    background-color: var(--pressed-state-color);

}
.modal-form{
    display: flex;
    flex-direction: column;
}